//variables
$base-color: #00004d;
$highlight: #c6538c;

//new color variables added 
$warn: #FFAB11;
$danger: #F44724;
$success: #7CB518;

$body-font: "Open Sans", sans-serif;
$title-font: "Rochester", cursive;
